* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  li {
      display: inline-block;
      list-style: none;
  }
  a {
      text-decoration: none;
      color: #929292;
      padding: 10px;
      margin-left: -10px;
  }
  
  footer {
    background-color: #8801fe;
    height: 50px;
    margin-top: 20px;
  }
  
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
   
  .hero-section {
      background-image: url(../img/banner.jpg);
      background-size: cover;
      background-position: center; 
      height: 500px;
      margin-bottom: 20px;
      border-radius: 20px;
      position: relative;
    }
    
    .hero-title {
        width: 50%;
        color: white;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .hero-section::before {
        content: "";
        width: 1000px;
        height: 500px;
        background-color:rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-container {
        background-color: #0086ff;
        padding-bottom: 20px;
    }
    
    .main-container-header {
        background-color: #abcfe7;
        height: 90px;
        margin-bottom: 20px;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    
    .col {
      float: left;
      background-color: #abcfe7;
      height: 400px;
      width: 25%;
    }
    
    .col-center {
      width: calc(50% - 40px);
      margin: 0 20px;
    }