* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    background-color: #e579e6;
    height: 90px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #8801fe;
    height: 50px;
    margin-top: 20px;
  }
  
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
   
  .hero-section {
      background-color: #e1d67a;
      height: 400px;
      margin-bottom: 20px;
    }
    
    .main-container {
        background-color: #0086ff;
        padding-bottom: 20px;
    }
    
    .main-container-header {
        background-color: #abcfe7;
        height: 90px;
        margin-bottom: 20px;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    
    .col {
      float: left;
      background-color: #abcfe7;
      height: 400px;
      width: 25%;
    }
    
    .col-center {
      width: calc(50% - 40px);
      margin: 0 20px;
    }