* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    border: 1px solid black;
    margin-bottom: 20px;
  }
  
  li {
      display: inline-block;
      list-style: none;
  }
  a {
      text-decoration: none;
      
      padding: 10px;
      margin-left: -10px;
  }
  
  footer {
    height: 50px;
    margin-top: 20px;
    text-align: center;
  }

  a, h5, p {
    color: #929292;
  }
  span{
      color:red;
  }
  
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
   
  .hero-section {
      background-image: url(../img/banner.jpg);
      background-size: cover;
      background-position: center; 
      height: 500px;
      margin-bottom: 20px;
      border-radius: 20px;
      position: relative;
    }
    
    .hero-section::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero-title {
        width: 50%;
        color: white;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }


    .main-container {
        padding-bottom: 20px;
    }
    
    .main-container-header {
        border: 1px solid black;
        margin-bottom: 20px;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
    }
    
    .col {
      float: left;
      border: 1px solid black;
      width: 25%;
      
    }
    
    .col-center {
      width: calc(50% - 40px);
      margin: 0 20px;
      
    }

    .col-img, .img-col {
        width: 100%;
        height: 130px;
        position: relative;
    }
     .img-col {
         object-fit: cover;    
    } 
    
    .col-img::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }